@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-blue-light font-Playfair-Display italic leading-[120%] w-full;
  }
  p {
    @apply text-blue-light font-Nunito-Sans not-italic leading-[130%];
  }
}
@layer components {
  h1.simple,
  h2.simple,
  h3.simple,
  h4.simple,
  h5.simple {
    @apply font-Nunito-Sans not-italic;
  }
  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
  }
  h3 {
    @apply text-h3;
  }
  h4 {
    @apply text-h4;
  }
  h5 {
    @apply text-h5;
  }
  p.p1 {
    @apply text-p1;
  }
  p.p2 {
    @apply text-p2;
  }
  p.p3 {
    @apply text-p3;
  }
  p.p4 {
    @apply text-p4;
  }
  .footer-ol > li > ol > li::before {
    @apply text-p1 text-blue-light font-Nunito-Sans not-italic leading-[130%] mt-auto;
  }
  .footerbutton {
    @apply text-blue-light font-Playfair-Display italic leading-[120%] text-h4 text-start font-medium;
  }
  #footerShop a {
    @apply text-p1 text-blue-light font-Nunito-Sans not-italic leading-[130%] flex items-center gap-[10px] ml-[15px];
  }
  /* .button3 {
    @apply text-white font-Playfair-Display italic leading-[120%] w-full text-h5 font-medium;
  } */
  .about-card {
    @apply p-[50px] flex flex-col gap-[25px] h-max max-w-[585px] border border-green-bg transition hover:bg-green-light hover:border-blue _1240:p-[25px];
  }
  .feedback {
    @apply !flex items-center p-[25px] !w-[586px] gap-[25px] border-green-bg border-[3px] transition hover:bg-green-light hover:border-blue _768:p-[15px] _768:gap-[15px] _768:!w-full;
  }
  .buttonToCart1 {
    @apply w-full flex justify-center items-center p-[25px] text-blue-light gap-[25px] h-max bg-green-light border-2 border-blue-light _768:gap-[10px] _768:p-[10px] text-h5 font-Nunito-Sans font-semibold _768:text-[20px] _491:text-p3 max-w-[418px];
  }
  .buttonhotsale {
    @apply flex items-center p-[15px_50px] font-Nunito-Sans font-semibold text-p1 border border-blue-light text-blue-light _768:p-[10px];
  }
}

@layer utilities {
  .col-span-half {
    grid-column: span var(--half) / span var(--half);
  }
  .col-span-third {
    grid-column: span var(--third) / span var(--third);
  }
  .grid-cols-half {
    grid-template-columns: repeat(var(--half), 1fr);
  }
  .grid-cols-container {
    grid-template-columns: repeat(var(--cols), 1fr);
  }
  .footerVertical {
    @apply flex flex-col gap-[var(--gutter)] footer-ol py-[25px] col-span-full;
  }
  .footerHorizontal {
    @apply grid grid-cols-half gap-[var(--gutter)] justify-between col-start-7 col-end-13 footer-ol _1600:col-span-half _1240:!col-span-full _1240:grid-cols-container;
  }
}

/* Project Colors */
:root {
  --green-bg: #273e40;
  --green-bg-25: rgba(39, 62, 64, 0.25);
  --green-light: #2f4a4c;
  --blue: #5e9599;
  --blue-light: #b5eaee;
  --black: #2c261f;
  --white: #ffffff;
  --gutter: 25px;
  --cols: 12;
  --half: calc(var(--cols) / 2);
  --third: calc(var(--cols) / 3);
  --max-w: 1440px;
  --column: calc(
    (var(--max-w) - var(--gutter) * (var(--cols) - 1)) / var(--cols)
  );
}

main,
header,
footer {
  padding-inline: 20px;
}

@media screen and (max-width: 1600px) {
  :root {
    --max-w: 1200px;
    --gutter: 20px;
  }
}

@media screen and (max-width: 1240px) {
  :root {
    --max-w: 960px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --max-w: 704px;
    --cols: 6;
    --gutter: 25px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --max-w: 480px;
    /* --max-w: 343px; */
  }
  .swiper-pagination {
    gap: 8px !important;
  }
  .line {
    height: 10px !important;
  }
  .container:not(#store, #cardsList, #hotSales, nav > .container) {
    column-gap: 25px !important;
  }
  main > .container {
    padding: 50px 0;
  }
}
@media screen and (max-width: 491px) {
  :root {
    --max-w: 343px;
  }
}

/* Scrollbar styles */
/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--blue);
  border-radius: 99px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 99px;
  box-shadow: inset 0 0 10px 10px var(--green-light);
  border: solid 2px transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Reset Margins and Paddings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.line {
  display: flex;
  max-width: 227px;
  flex: 1;
  height: 15px !important;
  background: var(--blue-light);
  opacity: 0.2;
  border-radius: 100px !important;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
.line:hover,
.swiper-pagination-bullet-active {
  background-color: var(--blue-light) !important;
  opacity: 1;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.swiper-pagination-fraction {
  top: calc(100% + 25px) !important;
  gap: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 50px var(--gutter);
  width: 100%;
  /* padding: 0 20px; */
  padding: 100px 0;
  margin: 0 auto;
  position: relative;
  /* background-color: rgba(39, 62, 64, 1); */
  max-width: var(--max-w);
}

.footer-ol {
  counter-reset: item 0;
}
.footer-ol > li > ol > li {
  display: flex;
}
.footer-ol > li > ol > li:not(#footerShop)::before {
  content: counter(item, decimal-leading-zero) " ";
  counter-increment: item 1;
  margin-right: 15px;
  font-weight: 600;
}

.linkfeedbacks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 205px;
  flex-grow: 1;
  padding: 15px;
  border: 1px var(--blue-light) solid;
  gap: 15px;
  background-color: rgba(39, 62, 64, 1);
  transition: opacity 0.3s ease, border 0.3s ease;
}

.linkfeedbacks:hover,
.swiper-button-disabled {
  opacity: 0.4;
  border: 1px var(--blue) solid;
}

.discount {
  font-family: var(--font-nunito-sans);
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  text-decoration-line: line-through;
  color: var(--blue-light);
}

/* After Tailwind */
.teas-seo {
  font-family: var(--font-nunito-sans), sans-serif;
}

.teas-seo h1 {
  font-family: var(--font-playfair-display), serif;
  font-weight: 500;
  font-style: italic;
  font-size: 40.5px;
  line-height: 48.6px;
}

.teas-seo strong {
  font-weight: 700;
  font-size: 1.5rem;
}
.teas-seo p {
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 23.4px;
}
.teas-seo section h2 {
  font-size: 2.25rem;
  font-weight: 700;
}
.brew div {
  padding: 25px;
  border: 1px solid var(--blue);
}
